* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: 800;
}
.card {
  padding: 10px 20px;
  color: white;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(122deg, #44b4da 0%, #eee95d 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 3s normal infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 10%;
  }
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

button {
  background-color: rgb(16, 151, 16);
  color: white;
  font-size: large;
  font-weight: 1000;
}
select:focus {
  border-color: #00b894;
  box-shadow: 0 0 8px rgba(0, 184, 148, 0.2);
}
